html {
    font-family: Arial, Helvetica, sans-serif;
}

#HeadBar{
    background-color: #888888;
    width: 100%;
    margin: auto;
}

#MenuBar{
    background-color: #888888;
    width: 350px;
    margin: auto;
}
#Home{
    width: 150px;
    float: left;
    height: 50px;
}
#games{
    width: 150px;
    float: left;
    height: 50px;
}
#spacer{
    width: 50px;
    float: left;
    height: 50px;
}
#clear{
    clear: both;
}

body {
    background-color:  #666666;
}

#Title {
    font-size: 20px;
}

#Center {
    text-align: center;
}

#Grey {
    color: #666666;
}

#MFill {
    color: #888888;
}

#White {
    color: #ffffff;
}

#Black {
    color: #000000;
}

#a1 {
    color: black;
}

#a2 {
    color: black;
}

#DownloadLinks {
	color: black;
}

#space1 {
    height: 15px;
}
#space2 {
    height: 0.01px;
}

p {
    font-size: 20px;
}

#indented {
    text-indent: 1.0em;
}

#Game1 {
    border: solid;
    border-color: #555555;
    height: 375px;
    width: 500px;
    background-color: #888888;
    margin: 0 auto;
}

#Game2 {
    border: solid;
    border-color: #555555;
    height: 375px;
    width: 500px;
    background-color: #888888;
    margin: 0 auto;
}



#DimensionInfoContainer {
    background-color: #777777;
    width: 600px;
    height: 900px;
    margin: auto;
}
#DimensionTextContainer {
    background-color: #777777;
    width: 580px;
    height: 200px;
    margin: auto;
}

#GameInfoContainer {
    background-color: #777777;
    width: 600px;
    height: 1200px;
    margin: auto;
}
#GameTextContainer {
    background-color: #777777;
    width: 580px;
    height: 200px;
    margin: auto;
}