html {
    font-family: Arial, Helvetica, sans-serif;
}

#MenuBar{
    background-color: #ffffff;
    width: auto;
}

body {
    background-color:  #666666;
}

#Title {
    font-size: 20px;
}

#Center {
    text-align: center;
}